{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_app/custom.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <ul id="nav">
            <li><a href="../">홈</a></li>
            <li><a href="../page1/">호출</a></li>
            <li><a href="../page2/">알림</a></li>
            <li><a href="./">내정보</a></li>
        </ul>
    </div>
    

    <img class="drone_img" src="{% static 'my_app/drone.png' %}" alt = 'my_image'>

</body>
</html>