{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_app/custom.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <ul id="nav">
            <li><a href="../">홈</a></li>
            <li><a href="./">호출</a></li>
            <li><a href="../page2/">알림</a></li>
            <li><a href="../page3/">내정보</a></li>
        </ul>
    </div>
    
    <div class="aim">
        <div class="box5">
            <input type="text" placeholder="목적지를 입력하세요">
        </div>
    
        <div class="box6">
            <input type="text" placeholder="구/군/면">
        </div>
    
        <div class="box7">
            <input type="text" placeholder="동">
        </div>
    </div>
    

    <div class="pay">
        <div class="box7">
            <input type="text" placeholder="배송품 무게">
        </div>
    
        <div class="box7">
            <input type="text" placeholder="배송 속도">
        </div>
    </div>

    
    
    

</body>
</html>