{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_app/custom.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="myform">
        <li><a href="../">main</a></li>
        <li><a href="./">page1</a></li>
        <li><a href="../page2/">page2</a></li>
        <li><a href="../page3/">page3</a></li>
    </div>
    

    
    <h1>EXAMPLE HTML TEMPLATE CONNECTED!</h1>
    <h1>예시 페이지1 입니다</h1>
 
    <h2>{{ first_name }}</h2>
    <h2>제 첫 이름은 {{ first_name }} 입니다 </h2>
    <h2>리스트 {{ some_list }} 입니다 </h2>
    <h2>리스트 {{ some_list.1 }} 입니다 </h2>
    <h2>딕셔너리 {{ some_dict }} 입니다 </h2>
    <h2>딕셔너리 {{ some_dict.inside_key }} 입니다 </h2>



    <h1>{{ some_list }}</h1>

    <ul>
    {% for item in some_list %}
        <li>{{item}}</li>

    {% endfor %}

    </ul>
    

</body>
</html>