<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<!--모바일에서 봤을때 깔끔한처리-->>
		<meta name="viewport" content="width=device, initial-scale=1">
		<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<script src="/static/js/jquery-1.11.1.min.js"></script>
		<script src="/static/js/jquery.mobile-1.4.5.min.js"></script>

		<title>base.html</title>
		
	</head>
	
	<body>
		<main>
			<div data-role="navbar" data-grid="c">
				<ul>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
					<li><a href="#">Four</a></li>
					<li><a href="#">Five</a></li>
				</ul>
			</div><!-- /navbar -->
			
			
			<div>
				<h1>여기는 내용</h1>
			</div>
			
			<div>
				<h1>여기는 하단</h1>
			</div>
				
		</main>
	</body>
</html>





{% comment %} {% extend 'base.html' %}

{% block content %}
{% endblock %} {% endcomment %}