.myform{
    border: 5px dashed red;
}

img{
    width: 600px;
    height: 300;
}


body{
    margin: 0;
}




#nav{
    list-style:none;
    height: 40px;
    padding: 5px 1px;
    margin: 0;
    background: black;
}

#nav li{
    float: left;
    position: relative;
    margin: 5px 22px;
    padding: 0;
}

#nav li a{
    display: block;
    font-family: "맑은고딕";
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding:7px 8px;
    margin: 0;
    text-decoration: none;
    text-shadow: 0 1px 1px; rgba(0,0,0,0.3);
}

input{
    width: 200px;
    height: 40px;

}

.box3 a{
    width: 250px;
    height: 50px;
    text-decoration: none;
    font-family: "맑은고딕";
    font-weight: bold;
    font-size: 30px;
    padding-left: 75px;
    color: black;

}

.box4 a{
    width: 250px;
    height: 50px;
    text-decoration: none;
    font-family: "맑은고딕";
    font-weight: bold;
    font-size: 30px;
    padding-left: 60px;
    color: black;
}

.box1{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin:0 auto;
    margin-top: 200px;
}

.box2{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin:0 auto;
    margin-top: 5px;
}

.box3{
    width: 250px;
    height: 50px;
    border: 1px solid black;
    margin:0 auto;
    margin-top: 100px;
}

.box4{
    width: 250px;
    height: 50px;
    border: 1px solid black;
    margin:0 auto;
    margin-top: 10px;
}

.drone_img{
    width: 390px;
    height: 650px;
}


.aim {
    width: 250px;
    height: 350px;
    text-decoration: none;
    font-family: "맑은고딕";
    font-weight: bold;
    font-size: 30px;
    padding-left: 85px;
    padding-top: 75px;
    color: black;
}

.pay{
    width: 250px;
    height: 50px;
    text-decoration: none;
    font-family: "맑은고딕";
    font-weight: bold;
    font-size: 30px;
    padding-left: 85px;
    color: black;
}